body {
  margin: 0;
  font-family: "Playfair Display", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

.full-height {
  height: 100%;
}

.infobar,
.infobar p {
  background-color: #d5bdaf;
  margin: 0;
}

.h-50 {
  min-height: 50vh;
}

.secondary-color {
  color: #b29ca2;
}

.bg-cream {
  background-color: #fefcf3 !important;
}

.bg-cream-op {
  background-color: #fefcf3;
  opacity: 0.8;
}

.secondary-background {
  background-color: #b29ca2;
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  object-fit: contain;
  max-height: 500px;
  min-width: 100%;
  border-radius: 3rem;
}

.info-container {
  position: relative;
  background-image: url("./assets/images/img1.avif");
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 700;
}

/* Carousel Styling */

.carousel-container img {
  max-height: 80vh;
}

.carousel-container p,
h3 {
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.red-border {
  border: 2px solid red;
}

.blue-border {
  border: 2px solid blue;
}

.green-border {
  border: 2px solid green;
}

.social-media {
  background-color: #b29ca2;
  padding: 2.8rem;
}

.footer {
  text-align: center;
  padding: 3rem;
}

.footer p {
  color: gray;
}

.link-style {
  text-decoration: none;
  cursor: pointer;
  color: #b29ca2;
}

.link-style:hover {
  color: black;
}

/** ABOUT PAGE **/
.about-hero {
  background-image: url("./assets//images/img2.jpg");
  background-size: cover;
  min-height: 35vh;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 35.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
